/* THIS FILE WAS CREATED TO STYLE THE TAB BUTTON, that IS ACTIVE  */

.nav-pills .nav-link.active {
	background-color: white;
	border-radius: 0px;
}

.nav-pills .nav-link.active * {
	background-color: #ec6919;
	color: white;
}
