.navbarMainContainer {
	// justify-content: center;
	display: flex;

	.navbarBrand {
		font-size: 70px;

		li {
			list-style-type: none;
			.navbarBrandLink {
				color: black;
				font-weight: bold;
			}
		}
	}
}
