@import '../../_styles//main.module.scss';

.navBar {
	.navBarBrand {
		color: black;
		font-size: 40px;
		font-weight: bold;
	}

	// Search
	.input {
		border-radius: 0px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		outline: none !important;
		border: 1px solid black;

		&::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			color: grey;
			opacity: 1; /* Firefox */
		}
		&:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			color: black;
		}

		&::-ms-input-placeholder {
			/* Microsoft Edge */
			color: black;
		}
	}
	// error input display when user doesnt input text
	.errorInput {
		border-color: red !important;
		&::placeholder {
			color: red;
		}
	}

	// .inputGroup {
	// 	margin-bottom: 20px;

	// 	.passwordInput {
	// 	}
	// }

	.searchButton {
		border: 1px solid black;
		background-color: white;
		border-radius: 0px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		color: black;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	.navNavigationIcons {
		.navNavigationIconsNavLink {
			color: black;
			font-size: 20px;

			section {
				.icon {
					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
}
