.cardImage{
    border: 0px;
    margin: 5px;
    // padding: 0px;
    // min-height: 400px;
    

    .cardBody{
        padding-left: 0px;
        // margin-left: 0px
        // background-color: green;

        .titleText{
            text-transform: uppercase;
        }

        .priceText{

        }
    }
}