.mainContainer {
	margin-bottom: 50px;

	.brandHeaderRow {
		margin-bottom: 30px;

		.logoCol {
			padding: 50px;
		}

		.detailsCol {
			padding: 50px;
			// display: flex;
			// align-items: center;
		}
	}

	.secondaryRow {
		.categoriesCol {
		}

		.imagesCol {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			// border: 1px solid red;

			.card{
				width: '20rem' ;
				border-radius: 0px;
				margin: 5px;
				border: 1px solid black;

				.addToCartButton{
					border-radius: 0px;
					background-color: white;
					color: black;
					border: 1px solid black;

					&:hover{
						background-color: black;
						color: white;

					}
				}

				// small screens
				@media(max-width: 768px){
					// width: 100%;
					width: '24rem';
					// background-color: green;
				}
			}
		}
	}
}
