.main {
	// background-color: green;
	.mainContainer {
		margin-top: 50px;
		// background-color: green;

		.profileCol{
			.accordion{
				.accordionSettings{
					.accordionSettingsButton{
						border-radius: 0px;
						width: 100%;
					}
				}
			}
		}
	}
}
