@import './main.module.scss';

.main {
	margin-top: 50px;
	margin-bottom: 80px;

	.mainContainer {
		.mainRow {

            .errorMessage{
                color: $orange;
            }
            .emailCheckbox{
                border-radius: 0px; // find a way to style this
            }
            .input{
                border-radius: 0px;
            }


			.returnToCartButton {
			}

			.continueToButtonButton {
				border-radius: 0px;
			}
		}
	}
}
