@import './main.module.scss';

.main {
	margin-top: 30px;
	margin-bottom: 60px;

	.mainMotionDiv {
		// border-radius: 0px;
		padding: 20px;

		.mainContainer {
			background-color: #fff;
			border-radius: 0px;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
			padding: 20px;

			.mainRow {
				.leftCol {
					.contactMotionDiv {
						border-radius: 0px;
						padding: 20px;
						margin-bottom: 10px;
						box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
						transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
						background-color: #fff;
						&:hover {
							box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
						}
					}
					.shipToDiv {
						border-radius: 0px;
						padding: 20px;
						margin-bottom: 30px;
						box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
						transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
						background-color: #fff;
						&:hover {
							box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
						}
					}

					.returnToInformation {
					}
					.continueToPayment {
						border-radius: 0px;
						border: 1px;
						background-color: $dark-blue;
						&:hover {
							background-color: $orange;
						}
					}
				}
				// .rightCol{

				// }
			}
		}
	}
}

// .border {
//     background-color: #fff;
//     // border-radius: 8px;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to bordered sections */
//     padding: 20px;
//     transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
// }

// .border:hover {
//     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
// }
