@import './main.module.scss';

// Assuming you are targeting the nav-link inside a specific container
.nav-pills .nav-link.active {
	color: #000; // Set the text color
	background-color: transparent !important; // Remove the background color
	border-color: transparent; // Remove the border color if any
	box-shadow: none; // Remove any shadow effect
}
  
.main {
	.mainContainer {
		margin-top: 50px;

		.profileCol {
			.profileCard {
				border-radius: 0px;
				border: 1px solid black;

				.accordion {
					.accordionItem {
						margin-bottom: 10px;
						border: none;

						.accordionHeader {
							button {
								border-radius: 0px;
								padding: 15px;
								display: flex;
								align-items: center;
								color: #495057;
								font-weight: 600;
								transition: all 0.3s ease;
								border: 1px solid #e9ecef;

								&:focus{
									background-color: $orange;
									color: white;
									box-shadow: none;
									outline: none;
								}

							}
						}

						.accordionBody {
							// this is what you want daniel
							// inside this, is where the active is brocken:
							.listgroupItem {
								border-radius: 0px;
								margin-bottom: 0.5rem;
								border: 1px solid black;
								
								&:hover {
									border: 1px solid $orange;
									box-shadow: 0 6px 10px rgba($orange, 0.4);
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}

		.detailsCol {
			border: 1px solid red;

			.personalDetailsMain {
				.mainContainer {
					.card {
						margin-bottom: 13px;
						border-radius: 0px;

						.button {
							border-radius: 0px;
							border: 1px solid $orange;
							background-color: $orange;

							&:hover {
								background-color: darken($orange, 10%);
							}
						}
					}
				}
			}
		}
	}
}
// .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
// 	background-color: orange;
// }
// Button styles within the accordion settings section
.accordionSettings {
	.accordionSettingsButton {
		width: 100%;
		padding: 0.75rem;
		font-size: 1rem;
		border: none;
		color: black;
		transition: background-color 0.3s ease;

		&:focus,
		&:active {
			background-color: $orange;
			border-color: $orange;
			box-shadow: none;
			outline: none;
		}

		&:hover {
			background-color: darken($orange, 10%);
		}
	}
}
