@import '../..//_styles//main.module.scss';

$footer-padding-size: 30px;
$footer-min-height: 300px;
$socialMediaCol-height: calc($footer-min-height - $footer-padding-size - $footer-padding-size);

.footer {
	// display: flex;
	background-color: $dark-blue;
	color: white;
	padding: $footer-padding-size;
	min-height: $footer-min-height;
	width: 100%;
	text-align: center;

	.hr {
		color: white;
	}

	.ivyLogoCol {
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// background-color: white;

		// .ivyLogo {
		// 	font-size: 100px;
		// }
	}

	.socialMediaCol {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: $socialMediaCol-height;

		.socialMediaRow {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			* {
				font-size: 40px;
			}
		}
	}
}
