@import '../..//_styles//main.module.scss';

$footer-padding-size: 30px;
$footer-min-height: 300px;
$socialMediaCol-height: calc($footer-min-height - $footer-padding-size - $footer-padding-size);

.footer {
	background-color: $dark-blue;
	color: white;
	padding: $footer-padding-size;
	min-height: $footer-min-height;
	width: 100%;
	text-align: center;

	.hr {
		color: white;
	}

	.socialMediaCol {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: $socialMediaCol-height;

		.socialMediaRow {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			* {
				font-size: 40px;
			}
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.footer{
		justify-content: center;
		// border: 1px solid white;

		.row{
			// border: 1px solid pink;
		}

		.ivyLogoCol {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			// border: 1px solid white;
			margin-bottom: 15px;

			.image{
				width: 100px;
				text-align: center;
				// border: 1px solid white;
			}
		}
	}
	
}
